@import"../../global.scss";


.menu {
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    position: fixed;
    top: -90vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        top: 0;
        padding-top: 2rem;

    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 300;
        color: #dddddd;



        li {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            padding-top: 20px;
            border-top: solid 2px #292929;
            width: 100vw;




            &:first-child {
                border-top: none;
            }

            .emailIcon {
                margin: 2rem;
            }

            .twitterIcon {
                margin: 2rem;

            }

            .linkedInIcon {
                margin: 2rem;
            }

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                font-weight: 500;
            }

        }
    }
}