@import "../../global.scss";

.topbar {
    width: 100%;
    height: 120px;
    background-color: #111111;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    display: flex;
    align-items: center;



    .wrapper {
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;

        @media screen and (min-width: 830px) {
            .logo {
                display: flex;
                align-items: center;
                padding-right: 2rem;
                padding-left: 2rem;

                a {

                    text-decoration: none;
                    font-size: 40px;
                    font-weight: 700;
                    color: #dddddd;
                }

            }

            .primary-navigation {

                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: 23px;
                    font-weight: 500;
                    color: #dddddd;
                    padding-left: .2rem;
                    padding-right: .5rem;
                }
            }

            .itemContainer {
                display: flex;
                align-items: center;
                color: #dddddd;
                padding-right: 3rem;
                padding-left: 1rem;
                margin: 0;
            }



            .twitterIcon {
                margin-left: 2rem;
                font-size: xx-large;
            }


            .linkedInIcon {
                margin-left: 2rem;
                font-size: xx-large;
            }

            .emailIcon {
                margin-left: 2rem;
                font-size: xx-large;
            }
        }
    }

    @media screen and (max-width: 829px) {

        .logo {
            padding: 1rem;
            padding-right: 2rem;

            a {

                text-decoration: none;
                font-size: 30px;
                font-weight: 700;
                color: #dddddd;
                padding-right: 0rem;
            }

        }

        .primary-navigation {
            display: none;
        }

        .itemContainer {
            display: flex;
            align-items: center;
            color: #dddddd;
            padding-right: 0rem;
            padding-left: 0rem;

        }

        .twitterIcon {
            display: none;
        }

        .linkedInIcon {
            display: none;
        }

        .emailIcon {
            display: none;
        }

    }

    .right {
        @media screen and (max-width: 829px) {
            padding-right: 0rem;
            padding-left: 0rem;

            .hamburger {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                margin-left: 10rem;
                color: #dddddd;
                padding-left: 0rem;
                padding-right: 1.5rem;
                margin-left: 2rem;


                span {
                    width: 100%;
                    height: 3px;
                    background-color: #dddddd;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    @media screen and (max-width: 829px) {
        &.active {
            background-color: $maincolor;
            color: #dddddd;

            .hamburger {
                span {
                    &:first-child {
                        background-color: #dddddd;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        background-color: #dddddd;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}